/* Color Palette
    #F6C4B3
    #CB8B75
    #A8624A
    #8A442C
    #632510
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 23px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  /* padding: 0rem 2rem; */
}

.display-container {
  height: 100vh;
  background-image: url(./roof2.jpg);
  background-size: cover;
  background-position: top;
  z-index: -1;
}

.header__text-box {
  position: absolute;
  top: 41%;
  left: 51%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  background: rgba(231, 230, 230, 0.411);
  border-radius: 5px;
}

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  padding: 2rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  /* animation-delay: 0.5s;
    animation-iteration-count: 3; */
}

.heading-primary--sub {
  padding: 1rem 2rem;
  padding-top: 4.8rem;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  /* shorthand form of writing the animation stuff */
  animation: moveInRight 2s ease-out;
}

.btn,
.btn:visited {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  text-transform: uppercase;
  padding: 2rem 4rem;
  font-weight: 700;
  border-radius: 100rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: rgba(25, 0, 255, 0.781);
  color: rgb(255, 255, 255);
}

.about-container {
  height: 100vh;
  padding: 15rem 0rem 0rem;
  position: relative;
  color: rgba(124, 123, 123, 0.767);
  text-align: center;
}

.heading {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 1rem;
  color: black;
}

.about-text {
  margin-top: 10rem;
  margin-bottom: 15rem;
  font-style: italic;
  display: inline-block;
  width: 50%;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

.image-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  display: flex;
  margin-bottom: auto;
  max-height: 250px;
}

.about-images {
  flex: 2;
  /* width: 100%; */
  width: auto;
}

.shrink {
  flex: 1.3;
}

.testimonials {
  margin-top: 10px;
  margin-left: auto;
  display: block;
  width: 50%;
}

.initials {
  margin-left: 200px;
  margin-top: 20px;
  display: block;
}

.txt {
  font-size: 40px;
}
